.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding: 60px 100px 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__social-heading {
  margin: 0 0 20px;
  font-weight: bold;
}

.footer__list-item {
  margin: 0 0 16px;
}

.footer__list-item:last-of-type {
  margin-bottom: 0;
}

.footer__social-link {
  color: #fff;
  text-decoration: none;
  transition: color 1s linear;
  display: flex;
  align-items: center;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
  width: 16px;
  height: 16px;
}

.footer__social-icon_type_facebook {
  background-image: url("../images/facebook_white.svg");
}

.footer__social-icon_type_instagram {
  background-image: url("../images/instagram_white.svg");
}

.footer__copyright {
  margin: 108px 0 0;
}
