.recipes {
  background-color: #ffffff;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  padding: 100px 80px 215px;
  box-sizing: border-box;
}

.recipes__title {
  max-width: 580px;
  margin: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 24px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin: 80px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  list-style: none;
  padding: 0;
}

.recipes__video {
  border: none;
  margin: 0;
  width: 480px;
  height: 273px;
  display: flex;
  flex-basis: 100%;
}

.recipes__video-captions {
  margin: 24px 0 0;
  max-width: 480px;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  flex-grow: 1;
}

@media screen and (max-width: 1278px) {
  .recipes {
    padding: 80px 60px 100px;
  }
  .recipes__video {
    width: 336px;
    height: 191px;
  }
  .recipes__video-captions {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 766px) {
  .recipes__title {
    font-size: 36px;
    line-height: 1.2empx;
  }

  .recipes__video-captions {
    font-size: 16px;
    line-height: 1.3em;
  }
}

@media screen and (max-width: 424px) {
  .recipes {
    padding: 60px 30px 60px;
  }

  .recipes__subtitle {
    max-width: 438px;
    margin: 16px 0 0;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-size: 14px;
    line-height: 1.3em;
  }

  .recipes__video {
    width: 312px;
    height: 176px;
  }

  .recipes__video-captions {
    max-width: 312px;
  }
}
