.reservation {
  background-color: #d9e7ff;
  background-image: url("./images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 120px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  /*z-index to cover up about__circle*/
  z-index: 1;
  flex: 1 1 auto;
}

.reservation__title {
  margin: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  max-width: 385px;
  display: flex;
  padding: 0;
  margin: 80px 0 0;
}
