.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 120px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  flex: 1 1 auto;
}

.reservation__title {
  margin: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  padding: 0;
  margin: 80px 0 0;
}

@media screen and (max-width: 766px) {
  .reservation {
    padding: 60px 0 80px;
  }

  .reservation__title {
    margin: 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
  }

  .reservation__form {
    padding: 0;
    margin: 40px 0 0;
  }
}
